/*
Theme Name: Beyond Marrakech
Description: Theme based on Avada, made by Nooijen Solutions and specially customized for Beyond Marrakech SARL, made in 2017. Changes made include custom fonts, css, php and custom settings. All changes are made in a child theme to ensure the compability with future updates. The use of any assets of the Beyond Marrakech or Avada theme for uses outsite of this website is strictly prohibited.
Author: Nooijen Solutions
Author URI: https://www.nooijensolutions.nl
Template: Avada
Version: 1.0.0
Text Domain:  Avada
*/

/* !! PLEASE ONLY EDIT THIS FILE USING GIT - NOT USING (S)FTP !! */

/* ADD AMAZIGH FONT */
@font-face {
    font-family: 'Amazigh';
    src: url('/wp-content/themes/beyond-marrakech/fonts/Amazigh.eot');
    src: url('/wp-content/themes/beyond-marrakech/fonts/Amazigh.eot') format('embedded-opentype'),
         url('/wp-content/themes/beyond-marrakech/fonts/Amazigh.woff2') format('woff2'),
         url('/wp-content/themes/beyond-marrakech/fonts/Amazigh.woff') format('woff'),
         url('/wp-content/themes/beyond-marrakech/fonts/Amazigh.ttf') format('truetype'),
         url('/wp-content/themes/beyond-marrakech/fonts/Amazigh.svg#Amazigh') format('svg');
}

/* CUSTOM FONTS */
.amazigh {
	font-family: 'Amazigh';
	font-size: 10em;
	text-align: center;
}

@media screen and (min-width: 650px){
	h2.title-heading-center {
	/* font-family: 'Rouge Script', cursive !important; */
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	font-size: 55px !important;
	line-height: 65px !important;
}
}
@media screen and (max-width: 650px){
	h2.title-heading-center {
	/* font-family: 'Rouge Script', cursive !important; */
	font-family: 'Roboto', sans-serif !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	font-size: 35px !important;
	line-height: 65px !important;
}
}
.elegantfont {
	font-family: 'Playfair Display', 'Rouge Script', cursive !important;
	text-transform: uppercase !important;
	margin-bottom: 12px !important;
	color: #333333;
	line-height: 34px;
	letter-spacing: 1px;
}
.welcometo{
	font-family: 'Roboto', sans-serif !important;
	font-size: 30px !important;
	margin-top: 0;
	margin-bottom: 24px !important;
	text-align: center;
	color: black !important;
}
.homeheading {
	color: black !important;
}
.twelveth{
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.sans-serif-heading {
	font-family: 'Montserrat', Arial, sans-serif;
	font-size: 16px;
	color: #000000 !important;
	text-align: center;
	letter-spacing: 2px;
	font-weight: 400;
	text-transform: uppercase;
	margin-bottom: 12px;
}

/* DEVELOPMENT PURPOSES */
.hide {
	display: none;
}

/* AVADA THEME TWEAKS */
.fusion-portfolio {
    margin-bottom: 30px !important;
}

span.menu-text {
	text-transform: uppercase;
}

#social_links-widget-3{
	padding-top: 25px !important;
}

#text-2 > div.textwidget > div {
	padding-top: 25px !important;
	padding-bottom: 0px !important;
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#wrapper > div.fusion-footer > footer.fusion-footer-widget-area.fusion-widget-area.fusion-footer-widget-area-center{
	padding: 6px !important;
}

#wrapper > div.fusion-footer > footer.fusion-footer-widget-area.fusion-widget-area.fusion-footer-widget-area-center > div > div > div.fusion-column.fusion-column-last.col-lg-4.col-md-4.col-sm-4{
	padding-top: 1.7%;
}
div#main {
	padding-top: 150px;
}

.mapcontainer{
	margin-top:0px !important;
	margin-bottom:0px !important;
	width: 50% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0px !important;
}

.rightbottomcontainer{
	width: 50% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
	padding: 0px !important;
}

#text-container{
	padding-right: 13%;
	padding-left: 13%;
}

@media (max-width:1180px) and (min-width:1000px){
	#text-container{
	padding-right: 2% !important;
	padding-left: 2% !important;
}
}


div#main.clearfix.width-100 {
	padding-top: 50px !important;
	padding-bottom: 0px !important;
}

.nomarginpadding {
	padding: 0px !important;
	margin: 0px !important;
}

.fusion-mobile-menu-design-modern{
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.fusion-footer-copyright-area{
	display: none;
}

.customerservice{
	margin: auto;
	width: 60%;
}

.responsive-form{
	padding-left: 20%;
	padding-right: 20%;
}

.lineheight27{
	line-height: 27 !important;
}

.remove-margin-right{
	margin-right: 0px !important;
}

/* RESPONSIVENESS AND MENU */
.fusion-is-sticky .fusion-mobile-nav-holder>ul {
    max-height: 10000px;
    overflow-y: visible;
    overflow-x: hidden;
}

.wpml-ls-flag {
	vertical-align: middle !important;
	padding-right: 3px !important;
	padding-bottom: 2px !important;
}

.fusion-mobile-nav-holder li.fusion-mobile-nav-item li a:before{
	content: "" !important;
}

@media screen and (min-width: 1100px){
	ul.sub-menu {
		width: 150px !important;
	}
	img.fusion-logo-2x.fusion-sticky-logo-2x {
		max-width: 80%;
	}

}
@media screen and (min-width: 1225px){
#post-1422 > div > div:nth-child(8) > div > div.fusion-layout-column.fusion_builder_column.fusion_builder_column_1_2.fusion-one-half.fusion-column-first.fusion-spacing-no.\31 _2 > div{
	padding-top: 15% !important;
	}
}

@media screen and (max-width: 1225px){
#post-1422 > div > div:nth-child(8) > div > div.fusion-layout-column.fusion_builder_column.fusion_builder_column_1_2.fusion-one-half.fusion-column-first.fusion-spacing-no.\31 _2 > div{
	padding-top: 6% !important;
	}
}

.mobileimagehomepage{
	display:none;
}
#post-1422 > div > div:nth-child(8) > div > div.fusion-layout-column.fusion_builder_column.fusion_builder_column_1_2.fusion-one-half.fusion-column-first.fusion-spacing-no.\31 _2 > div > div.fusion-column-content-centered {
	min-height: 0px !important;
}
@media screen and (max-width: 1000px){
#post-1422 > div > div:nth-child(8) > div > div.fusion-layout-column.fusion_builder_column.fusion_builder_column_1_2.fusion-one-half.fusion-column-last.fusion-spacing-no.fusion-column-no-min-height.\31 _2 > div > div.imageframe-align-center > span > img{
	display: none;
	}

#post-1422 > div > div:nth-child(9) > div > div{
	margin-bottom: 0px !important;
}

#post-1422 > div > div:nth-child(9){
	padding-left: 0px !important;
	padding-right: 0px !important;
}

#post-1422 > div > div:nth-child(8) > div > div.fusion-layout-column.fusion_builder_column.fusion_builder_column_1_2.fusion-one-half.fusion-column-first.fusion-spacing-no.\31 _2{
	width: 100% !important;
}
#post-1422 > div > div:nth-child(8) > div > div.fusion-layout-column.fusion_builder_column.fusion_builder_column_1_2.fusion-one-half.fusion-column-first.fusion-spacing-no.\31 _2 > div{
	padding-top: 0px !important;
}
.mobileimagehomepage{
	display: block;
}
}

@media screen and (min-width: 1000px){
	#post-1422 > div > div:nth-child(9) > div {
		height: 0px !important;
	}
}

@media screen and (max-width: 1100px) {
	div.fusion-mobile-menu-icons {
		float: right;
		margin-top: 25px ;
		width: 50px;
	}
	a.fusion-logo-link {
		max-width: 200px !important;
	}
	header.fusion-header-wrapper.fusion-header-shadow {
		height: 74px;
	}
	div.fusion-header {
		padding-top: 5px !important;
		padding-bottom: 5px !important;
		height: 74px;
	}
	div.fusion-header.fusion-header-backface {
		padding-top: 0px !important;
		padding-bottom: 0px !important;
	}
	div.fusion-header.fusion-header-backface.fusion-sticky-shadow {
		height: 74px;
	}
	img.fusion-logo-2x.fusion-sticky-logo-2x {
		width: 200px !important;
	}
	.fusion-header-wrapper {
		background-color: black;
	}
}

@media screen and (max-width: 400px) {
	img.fusion-logo-2x.fusion-sticky-logo-2x {
		width: 200px !important;
	img.fusion-logo-2x.fusion-mobile-logo-2x {
		width: 200px !important;
}

/* REMOVE WEBKIT SHADOW HEADER */
.fusion-header-shadow{
	box-shadow: none;
 	-webkit-box-shadow: none;
}

/* FOOTER */
#wrapper > div.fusion-footer > footer.fusion-footer-widget-area.fusion-widget-area.fusion-footer-widget-area-center > div{
	height: 160px !important;
}
#social_links-widget-3{
	padding-top: 30px !important;
}

.widget-title{
	visibility: hidden !important;
	font-size: 0px !important;
}

@media screen and (min-width: 1100px) {
	div.fusion-copyright-notice {
		width: 40% !important;
		float: left !important;
	}
	div.fusion-social-networks-wrapper {
		width: 40% !important;
		float: right !important;
	}
	#text-2 {
		padding-top: 30px !important;
		padding-bottom: 30px !important;
	}
}

@media screen and (min-width: 1645px) {
	.copyrighttext{
		padding-top: 30px;
	}
	.fusion-
}
